<script src="jquery.min.js"></script>
<script src="assets/owl.carousel.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  $(".owl-carousel").owlCarousel({
    loop: true,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:2,
            nav:false
        },
        900:{
            items:3,
            nav:false
        },
        1100:{
            items:4,
            nav:true,
        }
    }
  });
});
</script>
<h2>Meet the Pod</h2>
<div class="owl-carousel">
  {% for item in site.data.fellows %}

  <div class="custom_card">
    <center>
      <img src=./assets/img/fellows/{{ item.img }} alt={{ item.name }}
      width="70%" height="80%" style="border-radius: 40%;" >
    </center>
    <br>
    <div class="custom_info">
      <p class="title">{{ item.name }}</p>
      <p class="location">{{ item.location }}</p>
    </div>
    <div class="sm_space">
      <div class="sm_icon">
        <a href={{ item.linkedin }} class="sm_icon_a"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="sm_icon">
        <a href={{ item.github }} class="sm_icon_a"><i class="fab fa-github"></i></a>
      </div>
      <div class="sm_icon">
        <a href={{ item.twitter }} class="sm_icon_a"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="sm_icon">
        <a href={{ item.resume }} class="sm_icon_a"><i class="fas fa-file-alt"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
