<section class="section-footer pb-5 mb-0" style="bottom: 0px;">
    <div class="container center">
        <div class="row">

            
            <div class="col-lg-8 ">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18 main-text">Programs</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <!-- <img src="../assets/img/mlh-prep.png" height="40px" width="100px"> -->
                                <li><a href="https://github.com/MLH-Fellowship/portfolio-template">Prep Program</a></li>
                                <li><a href="https://github.com/MLH-Fellowship/calendar-site">Open Source</a></li>
                                <li><a href="https://github.com/MLH-Fellowship/event-bot">Production Eng</a></li>
                                <li><a href="https://github.com/MLH-Fellowship/class-photo">Software Eng</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18 main-text">Features</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="#">Meet the Pod </a></li>
                                <li><a href="#">Pod stats</a></li>
                                <li><a href="#">Leaderboard</a></li>
                                <li><a href="#">Projects</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h5 class="f-18 main-text">Projects</h5>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">E-Commerce</a></li>
                                <li><a href="#">ToDo List</a></li>
                                <li><a href="#">Class photo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-lg-3">
                <div class="mt-4 pl-0 pl-lg-4">
                    <h5 class="f-18 main-text">Get in Touch</h5>
                    <ul class="list-inline social-icons-list pt-3">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/MLHacks"><i class="lni lni-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/company/major-league-hacking/"><i class="lni lni-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/mlhacks/?hl=en"><i class="lni lni-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/MajorLeagueHacking"><i class="lni lni-facebook"></i></a>
                        </li>
                    </ul>

                    <h5 class="f-18 main-text">Follow Us </h5>
                    <ul class="list-inline social-icons-list pt-3">
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/c/Majorleaguehacking"><i class="lni lni-youtube"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.twitch.tv/mlh"><i class="lni lni-twitch"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <hr class="my-5 white" />

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="text-muted mb-0">Made with ❤️ by Pod 4.1.5 </p>
                </div>
            </div>
        </div>
    </div>
</section>
