<div class="map-container">
    <div id="map"></div>
    <!-- Here goes the leaflet -->
  </div>
</div>

<script>
  let mymap = L.map("map").setView([3.3189, -121.412], 5);
  const tileUrl="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  const attribution= '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
  L.tileLayer(tileUrl, {attribution}).addTo(mymap);
</script>

<style>
  #map {
    height: 500px;
    width: 800px;
    z-index: 0;
  }

  .map-container {
  width: 100%;
  display: grid;
  place-items: center;
}

.markerImage {
  border-radius: 50%;
}
</style>
<script src="/assets/js/marker.js"></script>
