.profile {
    background-image: url("https://static.planetminecraft.com/files/resource_media/screenshot/1922/5bd170bb4655992be36d6034b35224fd-1559136006.png") !important;
    text-align: center;
    height: fit-content;
    margin-bottom: 50px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    
    img {
        border-radius: 50%;
        width: 200px;
       height: auto;
        margin-left: auto;
        margin-right: auto;
        display: inline;        
        padding: 20px;
    }
    
    .profile-picture {
        margin-bottom: 30px;
        height: fit-content;
    }
}
    
